// module.exports = {
//     "extends": "airbnb-base",
//     "rules":{
//       "linebreak-style": ["error", "windows"],
//       "semi": ["error", "never"],
//     }
//   };

// {
//   "parser": "babel-eslint",
//   "env": {
//       "browser": true,
//       "node": true
//   },
//   "extends": "airbnb",
//   "rules": {
//       "indent": [2, "tab"]
//   }
// }

{
  "extends": ["standard", "standard-react"],
}