.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.verticalLine {
    position: absolute;
    left: 20%;
    height: 35%;
    border-left: 2px solid rgb(20, 106, 219);
    opacity: 0.2;
}

.cancelBtn {
    margin-top: 1px;
}

@media (max-width: 1400px) {
    .mainContent {
        display: flex; 
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }
}